# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
media/

# Môi trường ảo (nếu bạn để venv trong thư mục dự án)
venv/
env/
.env

# PyCharm (Cấu hình IDE không nên đẩy lên)
.idea/